* {
 
}
#big-container {
  	margin-top: 20px;
  	margin-left:10px;
  	margin-right:5px;
  	height: 800px;	
  }
 #left-panel-container {
 	width: 45%;
  	margin:20px;
  	height: 700px;
  }
 #right-panel-container {
 	width: 45%;
 	margin: 20px;
  	height: 700px;
  	position: relative;
  }
  
  #message-board-container {
  	height: 450px;
  	margin:20px
  	border: solid;
  	border-width: 1px;
  	border-color: #e0e0eb;
  	overflow-y: scroll;
  	position: absolute;
  }
 #input-container {
	height: 180px;  
	bottom: 5px;
	right: 3px;
	position: absolute;
  }
#contact-container {
  	height: 650px;
  	overflow-y: auto;
  }
#conversation {
	bottom: 0;
}

#send-button {
	float: right;
	bottom: 0;
	position: relative;
}

