<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin interface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='/static/js/script.js'></script>
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>


<body>
  <div id="big-container" class= "container-fluid">
    <div id="left-panel-container" class ="col-md-6 panel panel-default"> 
      <h3 id="contact-board" style="text-align: center"> Contact Board</h3>
      <div id="contact-container" class ="col-md-12 panel-body"> 
      	<table class="contact-table table table-striped">
      	 <thead style="text-align: center">
      	    <tr>
      	      <th class="name">Name</th>
      	      <th class="count">Counts</th>
      	      <th class="phone">Phone/fb_id</th>
      	      <th class="location">Location</th>
      	    </tr>
      	  </thead>
      	  <tbody style="text-align: left">
      	    <tr class="contact" id="bot" >
      	      <td class="name">Bot_1</td>
      	      <td class="count">0</td>
      	      <td class="phone">12345678</td>
      	      <td class="location">Server</td>
      	    </tr>
      	      <tr class="contact" >
      	      <td class="name">Bot_2</td>
      	      <td class="count">0</td>
      	      <td class="phone">11111111</td>
      	      <td class="location">Server</td>
      	    </tr>
      	  </tbody>
      	</table>
      </div>
    </div>
    <!--left panel container above -->
    <div id="right-panel-container" class="col-md-6 panel panel-default"> 
      <h3 style="text-align: center"> Message Board</h3>
      <div id="message-board-container" class="col-md-12 panel-body"> 
        <div id="conversation"> </div>
      </div>
      <div id="input-container" class= "col-md-12 panel-body"> 
        <form>
      	  <div class="form-group">
    	    <label for="inputbox">Send a message:</label>
    	    <textarea class="form-control" id="inputbox" rows="4"></textarea>
  	  </div>
  	</form>
        <button type="submit" id="send-button"class="btn btn-primary" >Send</button>
      </div>
    </div>
    <!--right-panel-container above-->
  </div>
</body>
</html>


