<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin interface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1 class="text-center">User Dialogues</h1>
  
  <div class="row">
  <div class="col-md-6 panel-body" style="background-color:#96c3e8; height: 700px;">
     <div class="col-md-12 panel-body" style="background-color:#96c3e8; height: 650px;">
     	<table class="table table-striped">
     	<! create dynamic js here to load users>
    		<thead>
     		 <tr>
       		 	<th>Name</th>
       			 <th>Counts</th>
        		<th>Phone/FB_id</th>
        		<th>From</th>
      			</tr>
   		 </thead>
    		<tbody> 
     			 <tr>
      			  <td>YC Lin 12345678 12345</td>
      			  <td>10</td>
       			 <td>2132109968</td>
       			 <td>Los Angeles 12345678 12345</td>
    			  </tr>
    		</tbody>
    		<tbody> 
     			 <tr>
      			  <td>YC Lin</td>
      			  <td>10</td>
       			 <td>2132109968</td>
       			 <td>Los Angeles</td>
    			  </tr>
    		</tbody>
    	<! js script end here for the table view>
  	</table>
     </div>
  </div>
  
  <div class="col-md-6 panel-body" style="background-color:#96c3e8;height: 700px;" position="relative">
     <div class="col-md-12 panel-body" style="background-color:white;height: 550px;">
        <! create dynamic js here to load conversations>
        
        
        
            	<span> <strong> User said:</strong>
            	 testing testing <br></span>
    		<span> <strong> User said:</strong>
            	 testing testing <br></span>
            	 	<span> <strong> User said:</strong>
            	 testing testing <br></span>
            	 	<span> <strong> User said:</strong>
            	 testing testing <br></span>
    </div>
    	
    <div class="col-md-12 panel-body" style="background-color:#eceff1;height: 135px;" position="absolute" bottom="0=">
    	<form>
    		<p> Message to send:</p>
    		<input type="text" style="width: 500px; height: 80px">
        	<input class="btn btn-primary" type="submit" value="Send" style="pull-right">
        </form>
    </div>
  </div>
</div>
</div>
    
</body>
</html>


